.highlights{
    width: 105%;
    background-color: lightcoral;
    padding-bottom: 5%;
    padding-top: 2%;

}

.highlights h2{
    font-size: 10vh;
    margin-left: 10vw;
}

.works{
    margin: auto;
    width: 70%;
}